---
- hosts: nodes
  become: yes
  tasks:
    - name: "M4-1 : Ajouter le depot officiel Zabbix"
      dnf:
        name: "https://repo.zabbix.com/zabbix/6.0/rhel/9/x86_64/zabbix-release-6.0-4.el9.noarch.rpm"
        state: present
        disable_gpg_check: yes

    - name: "M4-2 : Nettoyer le cache DNF"
      command: dnf clean all

    - name: "M4-3 : Installer Zabbix Agent 2"
      dnf:
        name: zabbix-agent2
        state: present

    - name: "M4-4 : Configurer l'IP du serveur Zabbix"
      lineinfile:
        path: /etc/zabbix/zabbix_agent2.conf
        regexp: '^Server='
        line: 'Server=192.168.159.148'

    - name: "M4-5 : Demarrer et activer Zabbix Agent 2"
      systemd:
        name: zabbix-agent2
        state: restarted
        enabled: yes
